/* src/Cart.css */

.cart-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background:lightseagreen;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.cart-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background: lightyellow;
  padding: 15px;
  border-radius: 8px;
  gap: 20px;
}

.cart-item img {
  border-radius: 8px;
}

.details {
  flex: 1;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.quantity-controls button {
  padding: 5px 10px;
  font-weight: bold;
  border: none;
  background-color:lightslategray;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.quantity-controls span {
  font-size: 18px;
  font-weight: bold;
}

.remove-btn {
  background-color:lightslategray;
  text-align: center;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.clear-cart-btn {
  background-color: #ffc107;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.product-img {
  width: 100%;
  height: 180px;
  object-fit: contain; /* or try cover */
}
.body{
    color: black;
}
.empty {
  text-align: center;
  font-size: 18px;
  color:black
}